.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.tupian{
    widows: 1000px;
    height: 150px;
    display:flex;
    align-items: center;;
    justify-content: left;
}
.tupian img{
    width:30%;
    height:auto;
}
#line{
    line-height: 20px;
    background-color: cadetblue;
    height:50px;
    width:10px;
    float:left;
    padding:5px;
}
#search{
    background-color: white;
    text-align: center;
    padding:5px;
}
html{
    background-color: #ffffff;
    min-height:300px;
    min-width:250px;
  }
  a{
    text-decoration: none;
  }
  .popList{
    text-align: left;
    margin: auto;
    padding: 10px;
  }
  .listItem{
    font-family: sans-serif;
    font-size: 24px
  }
  .main-container{
    margin: auto;
    width: 90%;
  }
  .categoryBtn{
     width: 78px !important;
  }
.dvd .br .book .cd{
    display: block;
}
